#--content-tab{
    background: red;
    color: green;
}
#--content-tab-HomeTab{color: green;}
#--content-tab-HelpTab{color: #1691CE;}

* {
    /* scrollbar-background: #161e31; */
    /* scrollbar-background-hover: #161e31; */
    /* scrollbar-background-active: #161e31; */

    scrollbar-size: 1 1;
    scrollbar-color: #33405d;
    scrollbar-color-hover: #404f71;
    scrollbar-color-active: #4f608a;

    /* color: #e9e9e9; */
}

#InputProjectName{

    layout: horizontal;
    height: 3;
    height: auto;

    #Project_name {
        width: auto;
        margin: 1;
    }
 
    #Input_Project_name {
        height: 3;
        border: wide $background;
        min-width: 20;
        width: auto;
    }

    #Project_location {
        margin: 1;
        width: auto;
        opacity: 60%;
    }
}

InputBlock{
    margin: 1;
    height: 14;
    background: $boost;

    Label{
        margin: 0 0 1 1;
    }

    #InputBlockTitle{
        width: 100%;
        padding: 1;
        margin: 0 0 1 0;
        background: #24292F;
    }
    #InputurlContainer{
        layout: horizontal;
    }
    .Input_url{
        /* max-width: 81; */
        width: 65%;
    }
    #-o{
        margin: 1;
        /* max-width: 3; */
        width: auto;
    }
    .Input_output_file{
        /* max-width: 60; */
        width: 23%;
    }
    .Input_file_name{
        /* max-width: 146; */
        width: 90%;
        dock: left;
    }
    #download_Button{
        /* background: red; */
        /* border: tall $background; */
        /* min-width: 7; */
        width: auto;
        content-align: center middle;
        /* dock: right; */
        /* margin: 0 1 0 0; */
        /* width: auto; */
    }
    #Select_Directory_Button{
        /* margin: 0 1 0 0; */
        width: auto;
        /* dock: right; */
    }
}

#HomeTab_FastQC, #HomeTab_MultiQC, #HomeTab_Bwa {
    height: 5;
    layout: horizontal;
    margin: 1;
    padding: 1;
    background: $boost;

    Label{
        width: 79%;
        margin: 1;
        dock: left;
    }

    #Bwa_description{
        width: 69%;
    }

    #FastQCResultsButton, #MultiQCResultsButton{
        /* margin: 1; */
        dock: right;
    }

    LoadingIndicator{
        width: 16;
        height: 3;
        dock: right;
        display: none;
    }
}

.running #FastQCLoadingIndicator{
    display: block;
}

.running #MultiQCLoadingIndicator{
    display: block;
}

.running #BwaLoadingIndicator{
    display: block;
}
